<!DOCTYPE html>
<html  ng-app='LunchCheck'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
  <script src="app.js"></script>
    <title>Module1</title>
  </head>
  <body>
    <div ng-controller='LunchCheckController'>

<div>
<input type="text" ng-model="name">
</div>
<div>
<button ng-click="makeHappy()"> Make Me Happy </button>
<br>
<img ng-src="images/im_{{stateOfBeing}}.jpg"
</div>
<div>
Message is : {{name}} {{(sayMessage())}}
    </div>
</div>
  </body>
</html>
